body{
	padding: 40px;
}
.container{
	width: 1286px;
	height: 700px;
	background-color: #22B573;
	border: 2px solid #006837;
}
.header{
	font-size: 12px;
	font-family: 'MYRIADPROREGULAR';
	position: static;
	margin-bottom: 5px;
	padding-left: 590px;
}
.navbar{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 70px;
	margin-left: 37px;
}
.navbar_li{
	display: inline-block;
	font-size: 48px;
	font-family: 'MYRIADPROREGULAR';
	color: white;
	margin-left: 37px;
	margin-right: 45px;
}
.logo{
	height: 659px;
	margin-right: 390px;
	margin-top: 95px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9;
}
.white-box{
	width: 635px;
	height: 465px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 39px;
	margin-bottom: 10px;
	z-index: 10;
}
.green-box{
	background-color: #006837;
	width: 300px;
	height: 300px;
	position: relative;
	margin: 72px auto;
}
.text-in-green-box{
	font-size: 39px;
	font-family: 'MYRIADPROREGULAR';
	color: #FFFF00;
	text-overflow: clip;
	transform: rotate(45deg);
}
.green-text{
	font-size: 14px;
	font-family: 'MYRIADPROREGULAR';
	color: #39B54A;
	position: absolute;
	right: 10px;
	bottom: 0;
}
